flows.json
[
    {
        "id": "21cf0363a05e7524",
        "type": "tab",
        "label": "Lights Living Room",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "72cebb9d0897dcf1",
        "type": "tab",
        "label": "Central Heating",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b1c73a27875ad110",
        "type": "tab",
        "label": "Lights Living Room Simulator",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "27f595115c5b78b0",
        "type": "tab",
        "label": "Central Heating Simulator",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ee1061974e02e17c",
        "type": "tab",
        "label": "HomePowerController",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b773633e083bfda2",
        "type": "server",
        "alias": "thingtia_manuel",
        "host": "api.thingtia.cloud",
        "acceptUntrusted": true,
        "apiKey": ""
    },
    {
        "id": "838e41213a61d9fb",
        "type": "mqtt-broker",
        "name": "localhost",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "deacb2722d06694f",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "database",
        "name": "localhost",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://localhost:8086",
        "rejectUnauthorized": false
    },
    {
        "id": "c7c1f531dc14f272",
        "type": "mqtt in",
        "z": "21cf0363a05e7524",
        "name": "Lights topic",
        "topic": "MUSI-IoT-2022/AlinaMartin/livingRoom/lights",
        "qos": "2",
        "datatype": "utf8",
        "broker": "838e41213a61d9fb",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 310,
        "y": 500,
        "wires": [
            [
                "d7d481f8efdff413"
            ]
        ]
    },
    {
        "id": "856c9635b0125628",
        "type": "mqtt out",
        "z": "21cf0363a05e7524",
        "name": "Current power consumption",
        "topic": "MUSI-IoT-2022/AlinaMartin/livingRoom/lights/energy",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "838e41213a61d9fb",
        "x": 1080,
        "y": 620,
        "wires": []
    },
    {
        "id": "b874f26558e58f0b",
        "type": "inject",
        "z": "21cf0363a05e7524",
        "name": "Initiator",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "none",
        "payloadType": "str",
        "x": 320,
        "y": 620,
        "wires": [
            [
                "005c105de994e187"
            ]
        ]
    },
    {
        "id": "d59b13643d6f480e",
        "type": "function",
        "z": "21cf0363a05e7524",
        "name": "Store State",
        "func": "flow.set(\"light_state\", msg.payload)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 500,
        "wires": [
            [
                "43ed618d0cfc7188"
            ]
        ]
    },
    {
        "id": "43ed618d0cfc7188",
        "type": "debug",
        "z": "21cf0363a05e7524",
        "name": "Store State",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 940,
        "y": 500,
        "wires": []
    },
    {
        "id": "005c105de994e187",
        "type": "function",
        "z": "21cf0363a05e7524",
        "name": "Current power",
        "func": "let state = flow.get(\"light_state\")\n\nif(state && state.value && state.value === \"ON\"){\n    msg.payload = 60\n} else{\n    msg.payload = 0\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 620,
        "wires": [
            [
                "8b011742a4aff328"
            ]
        ]
    },
    {
        "id": "dc9d7620d8b6727b",
        "type": "debug",
        "z": "21cf0363a05e7524",
        "name": "Power consumption",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1070,
        "y": 700,
        "wires": []
    },
    {
        "id": "d7d481f8efdff413",
        "type": "function",
        "z": "21cf0363a05e7524",
        "name": "Add timestamp",
        "func": "msg.payload = {\n    value : msg.payload,\n    time : (new Date()).toISOString()\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 500,
        "wires": [
            [
                "d59b13643d6f480e"
            ]
        ]
    },
    {
        "id": "8b011742a4aff328",
        "type": "function",
        "z": "21cf0363a05e7524",
        "name": "Add timestamp",
        "func": "msg.payload = {\n    value : msg.payload,\n    time : (new Date()).toISOString()\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 620,
        "wires": [
            [
                "856c9635b0125628",
                "dc9d7620d8b6727b"
            ]
        ]
    },
    {
        "id": "4dad1370f004240b",
        "type": "mqtt in",
        "z": "72cebb9d0897dcf1",
        "name": "Central Heating topic",
        "topic": "MUSI-IoT-2022/AlinaMartin/centralHeating",
        "qos": "2",
        "datatype": "utf8",
        "broker": "838e41213a61d9fb",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 360,
        "y": 280,
        "wires": [
            [
                "184162539100a31d"
            ]
        ]
    },
    {
        "id": "e63c3c6ca2e693ad",
        "type": "mqtt out",
        "z": "72cebb9d0897dcf1",
        "name": "Current power consumption",
        "topic": "MUSI-IoT-2022/AlinaMartin/centralHeating/energy",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "838e41213a61d9fb",
        "x": 1160,
        "y": 400,
        "wires": []
    },
    {
        "id": "f0a7bbe6c4d8ec67",
        "type": "inject",
        "z": "72cebb9d0897dcf1",
        "name": "Initiator",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": true,
        "onceDelay": "0.5",
        "topic": "",
        "payload": "none",
        "payloadType": "str",
        "x": 340,
        "y": 400,
        "wires": [
            [
                "245f6cec4e848b2f"
            ]
        ]
    },
    {
        "id": "6f32a49143ef4324",
        "type": "function",
        "z": "72cebb9d0897dcf1",
        "name": "Store State",
        "func": "flow.set(\"central_heating_state\", msg.payload)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 850,
        "y": 280,
        "wires": [
            [
                "dce8207f9eb8ce97"
            ]
        ]
    },
    {
        "id": "dce8207f9eb8ce97",
        "type": "debug",
        "z": "72cebb9d0897dcf1",
        "name": "Store State",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1080,
        "y": 280,
        "wires": []
    },
    {
        "id": "245f6cec4e848b2f",
        "type": "function",
        "z": "72cebb9d0897dcf1",
        "name": "Current power",
        "func": "const state = flow.get(\"central_heating_state\")\n\nif(state && state.value && state.value === \"ON\"){\n    msg.payload = 2000\n} else{\n    msg.payload = 0\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 400,
        "wires": [
            [
                "2380e9ccce5a7737"
            ]
        ]
    },
    {
        "id": "d35609aa74faefdb",
        "type": "debug",
        "z": "72cebb9d0897dcf1",
        "name": "Power consumption",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1110,
        "y": 480,
        "wires": []
    },
    {
        "id": "184162539100a31d",
        "type": "function",
        "z": "72cebb9d0897dcf1",
        "name": "Add timestamp",
        "func": "msg.payload = {\n    value : msg.payload,\n    time : (new Date()).toISOString()\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 280,
        "wires": [
            [
                "6f32a49143ef4324"
            ]
        ]
    },
    {
        "id": "2380e9ccce5a7737",
        "type": "function",
        "z": "72cebb9d0897dcf1",
        "name": "Add timestamp",
        "func": "msg.payload = {\n    value : msg.payload,\n    time : (new Date()).toISOString()\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 400,
        "wires": [
            [
                "e63c3c6ca2e693ad",
                "d35609aa74faefdb"
            ]
        ]
    },
    {
        "id": "9815e584faed6711",
        "type": "inject",
        "z": "b1c73a27875ad110",
        "name": "Turn On",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "ON",
        "payloadType": "str",
        "x": 560,
        "y": 200,
        "wires": [
            [
                "5d9aec737a1b9033"
            ]
        ]
    },
    {
        "id": "c6a56f26d3b546f0",
        "type": "inject",
        "z": "b1c73a27875ad110",
        "name": "Turn Off",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "OFF",
        "payloadType": "str",
        "x": 560,
        "y": 240,
        "wires": [
            [
                "5d9aec737a1b9033"
            ]
        ]
    },
    {
        "id": "5d9aec737a1b9033",
        "type": "mqtt out",
        "z": "b1c73a27875ad110",
        "name": "Lights",
        "topic": "MUSI-IoT-2022/AlinaMartin/livingRoom/lights",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "838e41213a61d9fb",
        "x": 810,
        "y": 220,
        "wires": []
    },
    {
        "id": "d9dbd858fca0c943",
        "type": "inject",
        "z": "b1c73a27875ad110",
        "name": "Turn On every evening",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "00 18 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "ON",
        "payloadType": "str",
        "x": 550,
        "y": 360,
        "wires": [
            [
                "5d9aec737a1b9033"
            ]
        ]
    },
    {
        "id": "69f38ae1d125942f",
        "type": "inject",
        "z": "b1c73a27875ad110",
        "name": "Turn Off every evening",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "00 23 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "OFF",
        "payloadType": "str",
        "x": 570,
        "y": 400,
        "wires": [
            [
                "5d9aec737a1b9033"
            ]
        ]
    },
    {
        "id": "dc7af0b0168f278d",
        "type": "inject",
        "z": "b1c73a27875ad110",
        "name": "Turn On morning",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "00 06 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "ON",
        "payloadType": "str",
        "x": 590,
        "y": 480,
        "wires": [
            [
                "5d9aec737a1b9033"
            ]
        ]
    },
    {
        "id": "483a75b0b8fd1178",
        "type": "inject",
        "z": "b1c73a27875ad110",
        "name": "Turn Off morning",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "00 08 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "OFF",
        "payloadType": "str",
        "x": 610,
        "y": 520,
        "wires": [
            [
                "5d9aec737a1b9033"
            ]
        ]
    },
    {
        "id": "60862e227fc77af6",
        "type": "inject",
        "z": "27f595115c5b78b0",
        "name": "Turn On",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "ON",
        "payloadType": "str",
        "x": 560,
        "y": 260,
        "wires": [
            [
                "42414eb03510af10"
            ]
        ]
    },
    {
        "id": "88aa28753fb950ca",
        "type": "inject",
        "z": "27f595115c5b78b0",
        "name": "Turn Off",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "OFF",
        "payloadType": "str",
        "x": 560,
        "y": 300,
        "wires": [
            [
                "42414eb03510af10"
            ]
        ]
    },
    {
        "id": "42414eb03510af10",
        "type": "mqtt out",
        "z": "27f595115c5b78b0",
        "name": "Central Heating",
        "topic": "MUSI-IoT-2022/AlinaMartin/centralHeating",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "838e41213a61d9fb",
        "x": 840,
        "y": 280,
        "wires": []
    },
    {
        "id": "bd410b3f702bc03e",
        "type": "inject",
        "z": "27f595115c5b78b0",
        "name": "Turn On day",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "00 06 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "ON",
        "payloadType": "str",
        "x": 540,
        "y": 400,
        "wires": [
            [
                "42414eb03510af10"
            ]
        ]
    },
    {
        "id": "b367410c6054c4e5",
        "type": "inject",
        "z": "27f595115c5b78b0",
        "name": "Turn Off day",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "00 22 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "OFF",
        "payloadType": "str",
        "x": 560,
        "y": 440,
        "wires": [
            [
                "42414eb03510af10"
            ]
        ]
    },
    {
        "id": "50b83b65e65c5d79",
        "type": "mqtt in",
        "z": "ee1061974e02e17c",
        "name": "Central Heating Consumption",
        "topic": "MUSI-IoT-2022/AlinaMartin/centralHeating/energy",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "838e41213a61d9fb",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 260,
        "y": 280,
        "wires": [
            [
                "1efe746bd7235f29"
            ]
        ]
    },
    {
        "id": "52a93f8dc4730497",
        "type": "influxdb out",
        "z": "ee1061974e02e17c",
        "influxdb": "deacb2722d06694f",
        "name": "heating-consumption",
        "measurement": "heating-consumption",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "alinaMartin",
        "bucket": "home1",
        "x": 900,
        "y": 280,
        "wires": []
    },
    {
        "id": "08c20309e68cb095",
        "type": "debug",
        "z": "ee1061974e02e17c",
        "name": "InfluxDB",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 870,
        "y": 340,
        "wires": []
    },
    {
        "id": "37c8d744faa77e9e",
        "type": "catch",
        "z": "ee1061974e02e17c",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 240,
        "y": 560,
        "wires": [
            [
                "4f2bf206ad27c158"
            ]
        ]
    },
    {
        "id": "4f2bf206ad27c158",
        "type": "debug",
        "z": "ee1061974e02e17c",
        "name": "Catch All",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 510,
        "y": 560,
        "wires": []
    },
    {
        "id": "1efe746bd7235f29",
        "type": "change",
        "z": "ee1061974e02e17c",
        "name": "Format for InfluxDB",
        "rules": [
            {
                "t": "set",
                "p": "fields.consumption",
                "pt": "msg",
                "to": "payload.value",
                "tot": "msg",
                "dc": true
            },
            {
                "t": "set",
                "p": "tags.timestamp",
                "pt": "msg",
                "to": "payload.time",
                "tot": "msg",
                "dc": true
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$append(fields,tags)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 280,
        "wires": [
            [
                "52a93f8dc4730497",
                "08c20309e68cb095"
            ]
        ]
    },
    {
        "id": "1867ab5d3723faec",
        "type": "mqtt in",
        "z": "ee1061974e02e17c",
        "name": "Lights Living Room Consumption",
        "topic": "MUSI-IoT-2022/AlinaMartin/livingRoom/lights/energy",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "838e41213a61d9fb",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 400,
        "wires": [
            [
                "35e6758f4ff1f183"
            ]
        ]
    },
    {
        "id": "35e6758f4ff1f183",
        "type": "change",
        "z": "ee1061974e02e17c",
        "name": "Format for InfluxDB",
        "rules": [
            {
                "t": "set",
                "p": "fields.consumption",
                "pt": "msg",
                "to": "payload.value",
                "tot": "msg",
                "dc": true
            },
            {
                "t": "set",
                "p": "tags.timestamp",
                "pt": "msg",
                "to": "payload.time",
                "tot": "msg",
                "dc": true
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$append(fields,tags)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 400,
        "wires": [
            [
                "5aa374f636ee58c5",
                "08c20309e68cb095"
            ]
        ]
    },
    {
        "id": "5aa374f636ee58c5",
        "type": "influxdb out",
        "z": "ee1061974e02e17c",
        "influxdb": "deacb2722d06694f",
        "name": "heating-consumption",
        "measurement": "lights-living-room-consumption",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "alinaMartin",
        "bucket": "home1",
        "x": 900,
        "y": 400,
        "wires": []
    }
]