flows.json
[
    {
        "id": "847fbaaad8613590",
        "type": "tab",
        "label": "Weather API",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "21cf0363a05e7524",
        "type": "tab",
        "label": "Living Room",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "72cebb9d0897dcf1",
        "type": "tab",
        "label": "Central Heating",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b1c73a27875ad110",
        "type": "tab",
        "label": "Living Room Simulator",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "27f595115c5b78b0",
        "type": "tab",
        "label": "Central Heating Simulator",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ee1061974e02e17c",
        "type": "tab",
        "label": "HomePowerController",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "60d0f118e94c9f05",
        "type": "tab",
        "label": "Dashboard",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "838e41213a61d9fb",
        "type": "mqtt-broker",
        "name": "localhost",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "b773633e083bfda2",
        "type": "server",
        "alias": "thingtia_manuel",
        "host": "api.thingtia.cloud",
        "acceptUntrusted": true,
        "apiKey": ""
    },
    {
        "id": "deacb2722d06694f",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "database",
        "name": "localhost",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://localhost:8086",
        "rejectUnauthorized": false
    },
    {
        "id": "7392875e7b7a6f5c",
        "type": "ui_group",
        "name": "Living Room",
        "tab": "af3d10dc3353bbb3",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "af3d10dc3353bbb3",
        "type": "ui_tab",
        "name": "Alina's and Martin's Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "aa24dfd70a61630c",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "8ea87fcca76b085c",
        "type": "ui_group",
        "name": "General",
        "tab": "af3d10dc3353bbb3",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "782fe47e8f0822db",
        "type": "inject",
        "z": "847fbaaad8613590",
        "name": "Make request",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 90,
        "y": 60,
        "wires": [
            [
                "3ab361b8668cf290"
            ]
        ]
    },
    {
        "id": "3ab361b8668cf290",
        "type": "http request",
        "z": "847fbaaad8613590",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://api.open-meteo.com/v1/forecast?latitude=39.57&longitude=2.65&current_weather=true&timezone=Europe%2FBerlin",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "",
                "valueType": "other",
                "valueValue": ""
            },
            {
                "keyType": "other",
                "keyValue": "",
                "valueType": "other",
                "valueValue": ""
            }
        ],
        "x": 250,
        "y": 60,
        "wires": [
            [
                "26ce7c0ec4c4e16f"
            ]
        ]
    },
    {
        "id": "ef1d76105f957be2",
        "type": "debug",
        "z": "847fbaaad8613590",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 60,
        "wires": []
    },
    {
        "id": "26ce7c0ec4c4e16f",
        "type": "json",
        "z": "847fbaaad8613590",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 410,
        "y": 60,
        "wires": [
            [
                "ef1d76105f957be2",
                "3d8a7ed7dedfb9f3"
            ]
        ]
    },
    {
        "id": "3d8a7ed7dedfb9f3",
        "type": "function",
        "z": "847fbaaad8613590",
        "name": "function 1",
        "func": "msg.payload = msg.payload.current_weather;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 120,
        "wires": [
            [
                "d69f7dc8247449ea"
            ]
        ]
    },
    {
        "id": "839b6e60d015e05d",
        "type": "debug",
        "z": "847fbaaad8613590",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 180,
        "wires": []
    },
    {
        "id": "d69f7dc8247449ea",
        "type": "template",
        "z": "847fbaaad8613590",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "The current temperature is: {{payload.temperature}} !",
        "output": "str",
        "x": 540,
        "y": 180,
        "wires": [
            [
                "839b6e60d015e05d"
            ]
        ]
    },
    {
        "id": "c7c1f531dc14f272",
        "type": "mqtt in",
        "z": "21cf0363a05e7524",
        "name": "Lights topic",
        "topic": "MUSI-IoT-2022/AlinaMartin/livingRoom/lights",
        "qos": "2",
        "datatype": "utf8",
        "broker": "838e41213a61d9fb",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 310,
        "y": 500,
        "wires": [
            [
                "d7d481f8efdff413"
            ]
        ]
    },
    {
        "id": "856c9635b0125628",
        "type": "mqtt out",
        "z": "21cf0363a05e7524",
        "name": "Current power consumption",
        "topic": "MUSI-IoT-2022/AlinaMartin/livingRoom/lights/energy",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "838e41213a61d9fb",
        "x": 1080,
        "y": 620,
        "wires": []
    },
    {
        "id": "b874f26558e58f0b",
        "type": "inject",
        "z": "21cf0363a05e7524",
        "name": "Initiator",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "none",
        "payloadType": "str",
        "x": 320,
        "y": 620,
        "wires": [
            [
                "005c105de994e187"
            ]
        ]
    },
    {
        "id": "d59b13643d6f480e",
        "type": "function",
        "z": "21cf0363a05e7524",
        "name": "Store State",
        "func": "flow.set(\"light_state\", msg.payload)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 500,
        "wires": [
            [
                "43ed618d0cfc7188"
            ]
        ]
    },
    {
        "id": "43ed618d0cfc7188",
        "type": "debug",
        "z": "21cf0363a05e7524",
        "name": "Store State",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 940,
        "y": 500,
        "wires": []
    },
    {
        "id": "005c105de994e187",
        "type": "function",
        "z": "21cf0363a05e7524",
        "name": "Current power",
        "func": "let state = flow.get(\"light_state\")\n\nif(state && state.value && state.value === \"ON\"){\n    msg.payload = 60\n} else{\n    msg.payload = 0\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 620,
        "wires": [
            [
                "8b011742a4aff328"
            ]
        ]
    },
    {
        "id": "dc9d7620d8b6727b",
        "type": "debug",
        "z": "21cf0363a05e7524",
        "name": "Power consumption",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1070,
        "y": 700,
        "wires": []
    },
    {
        "id": "d7d481f8efdff413",
        "type": "function",
        "z": "21cf0363a05e7524",
        "name": "Add timestamp",
        "func": "msg.payload = {\n    value : msg.payload,\n    time : (new Date()).toISOString()\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 500,
        "wires": [
            [
                "d59b13643d6f480e"
            ]
        ]
    },
    {
        "id": "8b011742a4aff328",
        "type": "function",
        "z": "21cf0363a05e7524",
        "name": "Add timestamp",
        "func": "msg.payload = {\n    value : msg.payload,\n    time : (new Date()).toISOString()\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 620,
        "wires": [
            [
                "856c9635b0125628",
                "dc9d7620d8b6727b"
            ]
        ]
    },
    {
        "id": "4dad1370f004240b",
        "type": "mqtt in",
        "z": "72cebb9d0897dcf1",
        "name": "Central Heating topic",
        "topic": "MUSI-IoT-2022/AlinaMartin/centralHeating",
        "qos": "2",
        "datatype": "utf8",
        "broker": "838e41213a61d9fb",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 360,
        "y": 280,
        "wires": [
            [
                "184162539100a31d"
            ]
        ]
    },
    {
        "id": "e63c3c6ca2e693ad",
        "type": "mqtt out",
        "z": "72cebb9d0897dcf1",
        "name": "Current power consumption",
        "topic": "MUSI-IoT-2022/AlinaMartin/centralHeating/energy",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "838e41213a61d9fb",
        "x": 1160,
        "y": 400,
        "wires": []
    },
    {
        "id": "f0a7bbe6c4d8ec67",
        "type": "inject",
        "z": "72cebb9d0897dcf1",
        "name": "Initiator",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": true,
        "onceDelay": "0.5",
        "topic": "",
        "payload": "none",
        "payloadType": "str",
        "x": 340,
        "y": 400,
        "wires": [
            [
                "245f6cec4e848b2f"
            ]
        ]
    },
    {
        "id": "6f32a49143ef4324",
        "type": "function",
        "z": "72cebb9d0897dcf1",
        "name": "Store State",
        "func": "flow.set(\"central_heating_state\", msg.payload)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 850,
        "y": 280,
        "wires": [
            [
                "dce8207f9eb8ce97"
            ]
        ]
    },
    {
        "id": "dce8207f9eb8ce97",
        "type": "debug",
        "z": "72cebb9d0897dcf1",
        "name": "Store State",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1080,
        "y": 280,
        "wires": []
    },
    {
        "id": "245f6cec4e848b2f",
        "type": "function",
        "z": "72cebb9d0897dcf1",
        "name": "Current power",
        "func": "const state = flow.get(\"central_heating_state\")\n\nif(state && state.value && state.value === \"ON\"){\n    msg.payload = 2000\n} else{\n    msg.payload = 0\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 400,
        "wires": [
            [
                "2380e9ccce5a7737"
            ]
        ]
    },
    {
        "id": "d35609aa74faefdb",
        "type": "debug",
        "z": "72cebb9d0897dcf1",
        "name": "Power consumption",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1110,
        "y": 480,
        "wires": []
    },
    {
        "id": "184162539100a31d",
        "type": "function",
        "z": "72cebb9d0897dcf1",
        "name": "Add timestamp",
        "func": "msg.payload = {\n    value : msg.payload,\n    time : (new Date()).toISOString()\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 280,
        "wires": [
            [
                "6f32a49143ef4324"
            ]
        ]
    },
    {
        "id": "2380e9ccce5a7737",
        "type": "function",
        "z": "72cebb9d0897dcf1",
        "name": "Add timestamp",
        "func": "msg.payload = {\n    value : msg.payload,\n    time : (new Date()).toISOString()\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 400,
        "wires": [
            [
                "e63c3c6ca2e693ad",
                "d35609aa74faefdb"
            ]
        ]
    },
    {
        "id": "9815e584faed6711",
        "type": "inject",
        "z": "b1c73a27875ad110",
        "name": "Turn On",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "ON",
        "payloadType": "str",
        "x": 560,
        "y": 200,
        "wires": [
            [
                "5d9aec737a1b9033"
            ]
        ]
    },
    {
        "id": "c6a56f26d3b546f0",
        "type": "inject",
        "z": "b1c73a27875ad110",
        "name": "Turn Off",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "OFF",
        "payloadType": "str",
        "x": 560,
        "y": 240,
        "wires": [
            [
                "5d9aec737a1b9033"
            ]
        ]
    },
    {
        "id": "5d9aec737a1b9033",
        "type": "mqtt out",
        "z": "b1c73a27875ad110",
        "name": "Lights",
        "topic": "MUSI-IoT-2022/AlinaMartin/livingRoom/lights",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "838e41213a61d9fb",
        "x": 810,
        "y": 220,
        "wires": []
    },
    {
        "id": "d9dbd858fca0c943",
        "type": "inject",
        "z": "b1c73a27875ad110",
        "name": "Turn On every evening",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "00 18 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "ON",
        "payloadType": "str",
        "x": 550,
        "y": 360,
        "wires": [
            [
                "5d9aec737a1b9033"
            ]
        ]
    },
    {
        "id": "69f38ae1d125942f",
        "type": "inject",
        "z": "b1c73a27875ad110",
        "name": "Turn Off every evening",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "00 23 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "OFF",
        "payloadType": "str",
        "x": 570,
        "y": 400,
        "wires": [
            [
                "5d9aec737a1b9033"
            ]
        ]
    },
    {
        "id": "dc7af0b0168f278d",
        "type": "inject",
        "z": "b1c73a27875ad110",
        "name": "Turn On morning",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "00 06 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "ON",
        "payloadType": "str",
        "x": 590,
        "y": 480,
        "wires": [
            [
                "5d9aec737a1b9033"
            ]
        ]
    },
    {
        "id": "483a75b0b8fd1178",
        "type": "inject",
        "z": "b1c73a27875ad110",
        "name": "Turn Off morning",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "00 08 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "OFF",
        "payloadType": "str",
        "x": 610,
        "y": 520,
        "wires": [
            [
                "5d9aec737a1b9033"
            ]
        ]
    },
    {
        "id": "60862e227fc77af6",
        "type": "inject",
        "z": "27f595115c5b78b0",
        "name": "Turn On",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "ON",
        "payloadType": "str",
        "x": 560,
        "y": 260,
        "wires": [
            [
                "42414eb03510af10"
            ]
        ]
    },
    {
        "id": "88aa28753fb950ca",
        "type": "inject",
        "z": "27f595115c5b78b0",
        "name": "Turn Off",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "OFF",
        "payloadType": "str",
        "x": 560,
        "y": 300,
        "wires": [
            [
                "42414eb03510af10"
            ]
        ]
    },
    {
        "id": "42414eb03510af10",
        "type": "mqtt out",
        "z": "27f595115c5b78b0",
        "name": "Central Heating",
        "topic": "MUSI-IoT-2022/AlinaMartin/centralHeating",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "838e41213a61d9fb",
        "x": 840,
        "y": 280,
        "wires": []
    },
    {
        "id": "bd410b3f702bc03e",
        "type": "inject",
        "z": "27f595115c5b78b0",
        "name": "Turn On day",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "00 06 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "ON",
        "payloadType": "str",
        "x": 540,
        "y": 400,
        "wires": [
            [
                "42414eb03510af10"
            ]
        ]
    },
    {
        "id": "b367410c6054c4e5",
        "type": "inject",
        "z": "27f595115c5b78b0",
        "name": "Turn Off day",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "00 22 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "OFF",
        "payloadType": "str",
        "x": 560,
        "y": 440,
        "wires": [
            [
                "42414eb03510af10"
            ]
        ]
    },
    {
        "id": "50b83b65e65c5d79",
        "type": "mqtt in",
        "z": "ee1061974e02e17c",
        "name": "Central Heating Consumption",
        "topic": "MUSI-IoT-2022/AlinaMartin/centralHeating/energy",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "838e41213a61d9fb",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 260,
        "y": 280,
        "wires": [
            [
                "1efe746bd7235f29"
            ]
        ]
    },
    {
        "id": "52a93f8dc4730497",
        "type": "influxdb out",
        "z": "ee1061974e02e17c",
        "influxdb": "deacb2722d06694f",
        "name": "heating-consumption",
        "measurement": "heating-consumption",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "alinaMartin",
        "bucket": "home1",
        "x": 900,
        "y": 280,
        "wires": []
    },
    {
        "id": "08c20309e68cb095",
        "type": "debug",
        "z": "ee1061974e02e17c",
        "name": "InfluxDB",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 340,
        "wires": []
    },
    {
        "id": "37c8d744faa77e9e",
        "type": "catch",
        "z": "ee1061974e02e17c",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 240,
        "y": 560,
        "wires": [
            [
                "4f2bf206ad27c158"
            ]
        ]
    },
    {
        "id": "4f2bf206ad27c158",
        "type": "debug",
        "z": "ee1061974e02e17c",
        "name": "Catch All",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 510,
        "y": 560,
        "wires": []
    },
    {
        "id": "1efe746bd7235f29",
        "type": "change",
        "z": "ee1061974e02e17c",
        "name": "Format for InfluxDB",
        "rules": [
            {
                "t": "set",
                "p": "fields.consumption",
                "pt": "msg",
                "to": "payload.value",
                "tot": "msg",
                "dc": true
            },
            {
                "t": "set",
                "p": "tags.timestamp",
                "pt": "msg",
                "to": "payload.time",
                "tot": "msg",
                "dc": true
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$append(fields,tags)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 280,
        "wires": [
            [
                "08c20309e68cb095",
                "52a93f8dc4730497"
            ]
        ]
    },
    {
        "id": "1867ab5d3723faec",
        "type": "mqtt in",
        "z": "ee1061974e02e17c",
        "name": "Lights Living Room Consumption",
        "topic": "MUSI-IoT-2022/AlinaMartin/livingRoom/lights/energy",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "838e41213a61d9fb",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 400,
        "wires": [
            [
                "35e6758f4ff1f183"
            ]
        ]
    },
    {
        "id": "35e6758f4ff1f183",
        "type": "change",
        "z": "ee1061974e02e17c",
        "name": "Format for InfluxDB",
        "rules": [
            {
                "t": "set",
                "p": "fields.consumption",
                "pt": "msg",
                "to": "payload.value",
                "tot": "msg",
                "dc": true
            },
            {
                "t": "set",
                "p": "tags.timestamp",
                "pt": "msg",
                "to": "payload.time",
                "tot": "msg",
                "dc": true
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$append(fields,tags)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 400,
        "wires": [
            [
                "08c20309e68cb095",
                "5aa374f636ee58c5"
            ]
        ]
    },
    {
        "id": "5aa374f636ee58c5",
        "type": "influxdb out",
        "z": "ee1061974e02e17c",
        "influxdb": "deacb2722d06694f",
        "name": "lights-living-room-consumption",
        "measurement": "lights-living-room-consumption",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "alinaMartin",
        "bucket": "home1",
        "x": 930,
        "y": 400,
        "wires": []
    },
    {
        "id": "f08fe952c2adf8b7",
        "type": "influxdb in",
        "z": "ee1061974e02e17c",
        "influxdb": "deacb2722d06694f",
        "name": "localhost",
        "query": "from(bucket: \"home1\")\n  |> range(start: -1h)\n  |> filter(fn: (r) => r._measurement == \"heating-consumption\")\n  |> mean(column: \"_value\")\n  |> last()",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "alinaMartin",
        "x": 280,
        "y": 500,
        "wires": [
            [
                "b7f6c8c4ca787607"
            ]
        ]
    },
    {
        "id": "b7f6c8c4ca787607",
        "type": "debug",
        "z": "ee1061974e02e17c",
        "name": "InfluxDB Heating consumption",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 560,
        "y": 500,
        "wires": []
    },
    {
        "id": "93ee30e04cf8b5bc",
        "type": "inject",
        "z": "ee1061974e02e17c",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 130,
        "y": 500,
        "wires": [
            [
                "f08fe952c2adf8b7"
            ]
        ]
    },
    {
        "id": "0b735ca738056ab2",
        "type": "ui_switch",
        "z": "60d0f118e94c9f05",
        "name": "",
        "label": "Central Lights",
        "tooltip": "",
        "group": "7392875e7b7a6f5c",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "payload",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 420,
        "y": 180,
        "wires": [
            [
                "5ee7c947ecbe9646"
            ]
        ]
    },
    {
        "id": "3e5e01ec0f22ed3b",
        "type": "debug",
        "z": "60d0f118e94c9f05",
        "name": "Switch Central Lights",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 960,
        "y": 100,
        "wires": []
    },
    {
        "id": "5ee7c947ecbe9646",
        "type": "change",
        "z": "60d0f118e94c9f05",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "true",
                "fromt": "bool",
                "to": "ON",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "bool",
                "to": "OFF",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 660,
        "y": 180,
        "wires": [
            [
                "3e5e01ec0f22ed3b",
                "d1e74a4a84fa5a77"
            ]
        ]
    },
    {
        "id": "d1e74a4a84fa5a77",
        "type": "mqtt out",
        "z": "60d0f118e94c9f05",
        "name": "Lights",
        "topic": "MUSI-IoT-2022/AlinaMartin/livingRoom/lights",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "838e41213a61d9fb",
        "x": 910,
        "y": 180,
        "wires": []
    },
    {
        "id": "96d801aebd1eeb05",
        "type": "ui_switch",
        "z": "60d0f118e94c9f05",
        "name": "",
        "label": "Central Heating",
        "tooltip": "",
        "group": "8ea87fcca76b085c",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 420,
        "y": 320,
        "wires": [
            [
                "8f24254d37f1eb8e"
            ]
        ]
    },
    {
        "id": "8f24254d37f1eb8e",
        "type": "change",
        "z": "60d0f118e94c9f05",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "true",
                "fromt": "bool",
                "to": "ON",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "bool",
                "to": "OFF",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 660,
        "y": 320,
        "wires": [
            [
                "72e345b60e5cac86",
                "3e598dc638b2b542"
            ]
        ]
    },
    {
        "id": "72e345b60e5cac86",
        "type": "mqtt out",
        "z": "60d0f118e94c9f05",
        "name": "Central Heating",
        "topic": "MUSI-IoT-2022/AlinaMartin/centralHeating",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "838e41213a61d9fb",
        "x": 940,
        "y": 320,
        "wires": []
    },
    {
        "id": "3e598dc638b2b542",
        "type": "debug",
        "z": "60d0f118e94c9f05",
        "name": "Switch Central Heating",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 960,
        "y": 400,
        "wires": []
    }
]