flows/dashboard.json
[
    {
        "id": "60d0f118e94c9f05",
        "type": "tab",
        "label": "Dashboard",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0b735ca738056ab2",
        "type": "ui_switch",
        "z": "60d0f118e94c9f05",
        "name": "",
        "label": "Central Lights",
        "tooltip": "",
        "group": "7392875e7b7a6f5c",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "payload",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 420,
        "y": 180,
        "wires": [
            [
                "5ee7c947ecbe9646"
            ]
        ]
    },
    {
        "id": "3e5e01ec0f22ed3b",
        "type": "debug",
        "z": "60d0f118e94c9f05",
        "name": "Switch Central Lights",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 960,
        "y": 100,
        "wires": []
    },
    {
        "id": "5ee7c947ecbe9646",
        "type": "change",
        "z": "60d0f118e94c9f05",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "true",
                "fromt": "bool",
                "to": "ON",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "bool",
                "to": "OFF",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 660,
        "y": 180,
        "wires": [
            [
                "3e5e01ec0f22ed3b",
                "d1e74a4a84fa5a77"
            ]
        ]
    },
    {
        "id": "d1e74a4a84fa5a77",
        "type": "mqtt out",
        "z": "60d0f118e94c9f05",
        "name": "Lights",
        "topic": "MUSI-IoT-2022/AlinaMartin/livingRoom/lights",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "838e41213a61d9fb",
        "x": 910,
        "y": 180,
        "wires": []
    },
    {
        "id": "96d801aebd1eeb05",
        "type": "ui_switch",
        "z": "60d0f118e94c9f05",
        "name": "",
        "label": "Central Heating",
        "tooltip": "",
        "group": "8ea87fcca76b085c",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 420,
        "y": 320,
        "wires": [
            [
                "8f24254d37f1eb8e"
            ]
        ]
    },
    {
        "id": "8f24254d37f1eb8e",
        "type": "change",
        "z": "60d0f118e94c9f05",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "true",
                "fromt": "bool",
                "to": "ON",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "bool",
                "to": "OFF",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 660,
        "y": 320,
        "wires": [
            [
                "72e345b60e5cac86",
                "3e598dc638b2b542"
            ]
        ]
    },
    {
        "id": "72e345b60e5cac86",
        "type": "mqtt out",
        "z": "60d0f118e94c9f05",
        "name": "Central Heating",
        "topic": "MUSI-IoT-2022/AlinaMartin/centralHeating",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "838e41213a61d9fb",
        "x": 940,
        "y": 320,
        "wires": []
    },
    {
        "id": "3e598dc638b2b542",
        "type": "debug",
        "z": "60d0f118e94c9f05",
        "name": "Switch Central Heating",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 960,
        "y": 400,
        "wires": []
    },
    {
        "id": "20cefe50b1dab0ce",
        "type": "ui_gauge",
        "z": "60d0f118e94c9f05",
        "name": "",
        "group": "8ea87fcca76b085c",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Average temperature",
        "label": "˚C",
        "format": "{{value}}",
        "min": "-30",
        "max": "50",
        "colors": [
            "#00bfff",
            "#00ff33",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 880,
        "y": 540,
        "wires": []
    },
    {
        "id": "ee73cb313d38347a",
        "type": "mqtt in",
        "z": "60d0f118e94c9f05",
        "name": "Average temperature",
        "topic": "MUSI-IoT-2022/AlinaMartin/outside/average-temperature",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "838e41213a61d9fb",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 400,
        "y": 540,
        "wires": [
            [
                "8ecc6c99e3a68069"
            ]
        ]
    },
    {
        "id": "8ecc6c99e3a68069",
        "type": "template",
        "z": "60d0f118e94c9f05",
        "name": "Get temp",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{payload.avgTemperature}}",
        "output": "str",
        "x": 640,
        "y": 540,
        "wires": [
            [
                "20cefe50b1dab0ce"
            ]
        ]
    },
    {
        "id": "2475776356e64ab0",
        "type": "mqtt in",
        "z": "60d0f118e94c9f05",
        "name": "Current temperature",
        "topic": "MUSI-IoT-2022/AlinaMartin/outside/temperature",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "838e41213a61d9fb",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 390,
        "y": 640,
        "wires": [
            [
                "2ad77a571454da45"
            ]
        ]
    },
    {
        "id": "2ad77a571454da45",
        "type": "template",
        "z": "60d0f118e94c9f05",
        "name": "Get temp",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{payload.value}}",
        "output": "str",
        "x": 640,
        "y": 640,
        "wires": [
            [
                "9688c8e8988d3e61"
            ]
        ]
    },
    {
        "id": "9688c8e8988d3e61",
        "type": "ui_gauge",
        "z": "60d0f118e94c9f05",
        "name": "",
        "group": "8ea87fcca76b085c",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Current temperature",
        "label": "˚C",
        "format": "{{value}}",
        "min": "-30",
        "max": "50",
        "colors": [
            "#00bfff",
            "#00ff33",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 880,
        "y": 640,
        "wires": []
    },
    {
        "id": "7392875e7b7a6f5c",
        "type": "ui_group",
        "name": "Living Room",
        "tab": "af3d10dc3353bbb3",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "838e41213a61d9fb",
        "type": "mqtt-broker",
        "name": "localhost",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "8ea87fcca76b085c",
        "type": "ui_group",
        "name": "General",
        "tab": "af3d10dc3353bbb3",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "af3d10dc3353bbb3",
        "type": "ui_tab",
        "name": "Alina's and Martin's Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]