flows/living_room.json
[
    {
        "id": "21cf0363a05e7524",
        "type": "tab",
        "label": "Living Room",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c7c1f531dc14f272",
        "type": "mqtt in",
        "z": "21cf0363a05e7524",
        "name": "Lights topic",
        "topic": "MUSI-IoT-2022/AlinaMartin/livingRoom/lights",
        "qos": "2",
        "datatype": "utf8",
        "broker": "838e41213a61d9fb",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 310,
        "y": 500,
        "wires": [
            [
                "d7d481f8efdff413"
            ]
        ]
    },
    {
        "id": "856c9635b0125628",
        "type": "mqtt out",
        "z": "21cf0363a05e7524",
        "name": "Current power consumption",
        "topic": "MUSI-IoT-2022/AlinaMartin/livingRoom/lights/energy",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "838e41213a61d9fb",
        "x": 1460,
        "y": 660,
        "wires": []
    },
    {
        "id": "b874f26558e58f0b",
        "type": "inject",
        "z": "21cf0363a05e7524",
        "name": "Initiator",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "none",
        "payloadType": "str",
        "x": 220,
        "y": 760,
        "wires": [
            [
                "060cacb2122ebf35"
            ]
        ]
    },
    {
        "id": "d59b13643d6f480e",
        "type": "function",
        "z": "21cf0363a05e7524",
        "name": "Store State",
        "func": "flow.set(\"light_state\", msg.payload)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 500,
        "wires": [
            [
                "43ed618d0cfc7188",
                "8a3a2ed871884abc"
            ]
        ]
    },
    {
        "id": "43ed618d0cfc7188",
        "type": "debug",
        "z": "21cf0363a05e7524",
        "name": "Store State",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 940,
        "y": 500,
        "wires": []
    },
    {
        "id": "005c105de994e187",
        "type": "function",
        "z": "21cf0363a05e7524",
        "name": "Current power",
        "func": "const state = msg.state\n\nif (state && state === \"ON\") {\n    msg.payload = 60\n} else {\n    msg.payload = 0\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 920,
        "y": 740,
        "wires": [
            [
                "8b011742a4aff328"
            ]
        ]
    },
    {
        "id": "dc9d7620d8b6727b",
        "type": "debug",
        "z": "21cf0363a05e7524",
        "name": "Power consumption",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1450,
        "y": 740,
        "wires": []
    },
    {
        "id": "d7d481f8efdff413",
        "type": "function",
        "z": "21cf0363a05e7524",
        "name": "Add timestamp",
        "func": "msg.payload = {\n    value : msg.payload,\n    time : (new Date()).toISOString()\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 500,
        "wires": [
            [
                "d59b13643d6f480e"
            ]
        ]
    },
    {
        "id": "8b011742a4aff328",
        "type": "function",
        "z": "21cf0363a05e7524",
        "name": "Add timestamp",
        "func": "msg.payload = {\n    value : msg.payload,\n    time : (new Date()).toISOString()\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1160,
        "y": 740,
        "wires": [
            [
                "856c9635b0125628",
                "dc9d7620d8b6727b"
            ]
        ]
    },
    {
        "id": "8a3a2ed871884abc",
        "type": "change",
        "z": "21cf0363a05e7524",
        "name": "Format for InfluxDB",
        "rules": [
            {
                "t": "set",
                "p": "fields.state",
                "pt": "msg",
                "to": "payload.value",
                "tot": "msg",
                "dc": true
            },
            {
                "t": "set",
                "p": "tags.timestamp",
                "pt": "msg",
                "to": "payload.time",
                "tot": "msg",
                "dc": true
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$append(fields,tags)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 950,
        "y": 420,
        "wires": [
            [
                "0a7a15f6f983ab61",
                "a593afded30e5982"
            ]
        ]
    },
    {
        "id": "0a7a15f6f983ab61",
        "type": "influxdb out",
        "z": "21cf0363a05e7524",
        "influxdb": "deacb2722d06694f",
        "name": "lights-living-room-consumption",
        "measurement": "lights-living-room-state",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "alinaMartin",
        "bucket": "home1",
        "x": 1270,
        "y": 420,
        "wires": []
    },
    {
        "id": "a593afded30e5982",
        "type": "debug",
        "z": "21cf0363a05e7524",
        "name": "Save state to InfluxDB",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1240,
        "y": 340,
        "wires": []
    },
    {
        "id": "fb1065dd04ebbc27",
        "type": "switch",
        "z": "21cf0363a05e7524",
        "name": "Get State",
        "property": "state",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            },
            {
                "t": "null"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 600,
        "y": 760,
        "wires": [
            [
                "005c105de994e187"
            ],
            [
                "7ed33fff7bc8fff2"
            ]
        ]
    },
    {
        "id": "060cacb2122ebf35",
        "type": "function",
        "z": "21cf0363a05e7524",
        "name": "Get Flow State",
        "func": "const state = flow.get(\"light_state\")\n\nif(state !== undefined && state !== null){\n    msg.state=state.value;\n} else {\n    msg.state=null;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 760,
        "wires": [
            [
                "fb1065dd04ebbc27"
            ]
        ]
    },
    {
        "id": "7ed33fff7bc8fff2",
        "type": "influxdb in",
        "z": "21cf0363a05e7524",
        "influxdb": "deacb2722d06694f",
        "name": "Get State Influx",
        "query": "from(bucket: \"home1\")\n  |> range(start: 0)\n  |> filter(fn: (r) => r[\"_measurement\"] == \"heating-state\")\n  |> filter(fn: (r) => r[\"_field\"] == \"state\")\n  |> group(columns: [\"*\"])\n  |> sort(columns: [\"timestamp\"], desc: true)\n  |> limit(n: 1)",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "alinaMartin",
        "x": 700,
        "y": 940,
        "wires": [
            [
                "61a42c7d75a09134"
            ]
        ]
    },
    {
        "id": "61a42c7d75a09134",
        "type": "function",
        "z": "21cf0363a05e7524",
        "name": "Convert from InfluxDB",
        "func": "const item=msg.payload[0];\n\nif(!!item){\n    msg.state=item[\"_value\"];\n    msg.payload={}\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 920,
        "y": 940,
        "wires": [
            [
                "005c105de994e187"
            ]
        ]
    },
    {
        "id": "838e41213a61d9fb",
        "type": "mqtt-broker",
        "name": "localhost",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "deacb2722d06694f",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "database",
        "name": "localhost",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://localhost:8086",
        "rejectUnauthorized": false
    }
]