flows/weather_api.json
[
    {
        "id": "847fbaaad8613590",
        "type": "tab",
        "label": "Call Weather API",
        "disabled": false,
        "info": "Calls the weather api at https://open-meteo.com/ \r\nand returns the current temperature.",
        "env": []
    },
    {
        "id": "782fe47e8f0822db",
        "type": "inject",
        "z": "847fbaaad8613590",
        "name": "Make request",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "3600",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 500,
        "y": 180,
        "wires": [
            [
                "3ab361b8668cf290"
            ]
        ]
    },
    {
        "id": "3ab361b8668cf290",
        "type": "http request",
        "z": "847fbaaad8613590",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://api.open-meteo.com/v1/forecast?latitude=39.57&longitude=2.65&current_weather=true&timezone=Europe%2FBerlin",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "",
                "valueType": "other",
                "valueValue": ""
            },
            {
                "keyType": "other",
                "keyValue": "",
                "valueType": "other",
                "valueValue": ""
            }
        ],
        "x": 750,
        "y": 180,
        "wires": [
            [
                "26ce7c0ec4c4e16f"
            ]
        ]
    },
    {
        "id": "26ce7c0ec4c4e16f",
        "type": "json",
        "z": "847fbaaad8613590",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 890,
        "y": 180,
        "wires": [
            [
                "3d8a7ed7dedfb9f3"
            ]
        ]
    },
    {
        "id": "3d8a7ed7dedfb9f3",
        "type": "function",
        "z": "847fbaaad8613590",
        "name": "function 1",
        "func": "msg.payload = msg.payload.current_weather;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1020,
        "y": 180,
        "wires": [
            [
                "d69f7dc8247449ea",
                "8666e998273d42f2"
            ]
        ]
    },
    {
        "id": "839b6e60d015e05d",
        "type": "debug",
        "z": "847fbaaad8613590",
        "name": "Output weather",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 920,
        "y": 240,
        "wires": []
    },
    {
        "id": "d69f7dc8247449ea",
        "type": "template",
        "z": "847fbaaad8613590",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "The current temperature is: {{payload.temperature}} !",
        "output": "str",
        "x": 680,
        "y": 240,
        "wires": [
            [
                "839b6e60d015e05d"
            ]
        ]
    },
    {
        "id": "e11004201b907a7c",
        "type": "mqtt out",
        "z": "847fbaaad8613590",
        "name": "Output Weather",
        "topic": "MUSI-IoT-2022/AlinaMartin/outside/temperature",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "838e41213a61d9fb",
        "x": 1500,
        "y": 260,
        "wires": []
    },
    {
        "id": "36256a2fe74d2999",
        "type": "influxdb out",
        "z": "847fbaaad8613590",
        "influxdb": "deacb2722d06694f",
        "name": "External temperature",
        "measurement": "external-temperature",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "s",
        "retentionPolicyV18Flux": "",
        "org": "alinaMartin",
        "bucket": "home1",
        "x": 1760,
        "y": 180,
        "wires": []
    },
    {
        "id": "8666e998273d42f2",
        "type": "function",
        "z": "847fbaaad8613590",
        "name": "Add timestamp",
        "func": "msg.payload = {\n    value : msg.payload.temperature,\n    time : (new Date()).toISOString()\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1280,
        "y": 180,
        "wires": [
            [
                "5faaf1b78c36fb7b",
                "e11004201b907a7c"
            ]
        ]
    },
    {
        "id": "5faaf1b78c36fb7b",
        "type": "change",
        "z": "847fbaaad8613590",
        "name": "Format for InfluxDB",
        "rules": [
            {
                "t": "set",
                "p": "fields.value",
                "pt": "msg",
                "to": "payload.value",
                "tot": "msg",
                "dc": true
            },
            {
                "t": "set",
                "p": "tags.timestamp",
                "pt": "msg",
                "to": "payload.time",
                "tot": "msg",
                "dc": true
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$append(fields,tags)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1510,
        "y": 180,
        "wires": [
            [
                "36256a2fe74d2999",
                "f77c9a676e8a8e83"
            ]
        ]
    },
    {
        "id": "f77c9a676e8a8e83",
        "type": "debug",
        "z": "847fbaaad8613590",
        "name": "Influx weather",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1760,
        "y": 260,
        "wires": []
    },
    {
        "id": "838e41213a61d9fb",
        "type": "mqtt-broker",
        "name": "localhost",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "deacb2722d06694f",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "database",
        "name": "localhost",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://localhost:8086",
        "rejectUnauthorized": false
    }
]